{plugins, [
    coveralls,
    pc,
    {rebar3_dynamic_plugin, {git, "https://github.com/lafirest/rebar3_dynamic_plugin.git"}}
]}.

{project_plugins, [
    erlfmt
]}.

{dynamic_plugin_script, "./scripts/sdk_checking.erl"}.

{provider_hooks, [
    {pre, [
        {compile, dynamic_plugin},
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{port_specs, [
    {"priv/erlfdb_nif.so", ["c_src/*.c"]}
]}.

% port_env compiler / linker flags dynamically generated in rebar.config.script

{profiles, [
    {devcontainer, [
        {eunit_opts, [
            {sys_config, "devcontainer.config"}
        ]}
    ]}
]}.

{eunit_opts, [
    debug_info,
    verbose
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/devcontainer+test/cover/*.coverdata"}.
{coveralls_service_name, "github"}.
{coveralls_parallel, true}.
